.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20%;
}

.grid-item{
    background-color: rgb(42, 161, 165);
}



@media (max-widht: 600px) {
    .contenedor {
        flex-direction: column;
    }
}
